html {
  line-height: 1.15;
}
body {
  font-size: initial;
  overflow: hidden;
  margin: 0;
  background: white;
}

#popupView {
  min-width: 280px;
}

#popupView:not(.in-room):not(.sliding) #roomView {
  display: none;
}

.in-room:not(.sliding) #joinActions {
  display: none;
}

.popup-header {
  padding: 0 16px;
}

.popup-header img {
  opacity: 0.8;
}

.room-id-text {
  font-weight: bold;
}

button.mdc-list-item {
  width: 100%;
  background-color: transparent;
  border: none;
  font: inherit;
  color: currentColor;
}

button.mdc-list-item:disabled {
  color: var(--mdc-theme-text-disabled-on-light,rgba(0,0,0,.38));
  pointer-events: none;
}

.list-input {
  padding: 0 16px;
  line-height: 1.15;        
}

.list-input .mdc-text-field {
  width: 100%;
}

#joinActions button:not(:disabled) .mdc-list-item__graphic {
  color: var(--mdc-theme-primary,#6200ee);
}

.room-graphic {
  display: block;
  text-align: center;
}

.room-graphic.active {
  margin: auto;
  width: 160px;
}

.room-graphic.error {
  font-size: 160px;
  color: #5d5d5d;
}

#roomView.error .room-graphic.active {
  display: none;
}

#roomView:not(.error) .room-graphic.error {
  display: none;
}

#roomView:not(.permission-error) .request-permission {
  display: none;
}
